@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --font-family-body-custom: 'Fira Code', monospace !important;
  --font-family-headings-custom: 'Fira Code', monospace !important;
  --font-mono: 'Fira Code', monospace !important;
}

html,
body {
  background: #000000;
}

a {
  text-underline-offset: 0.18em;
}
